#app .contentBorder {
  border: solid 1px #dddddd;
  border-top: none;
}
#app #attacker {
  background-color: #85e2ee;
}
#app #defender {
  background-color: indianred;
}
#app #techs {
  background-color: lightgray;
}
#app .battleButton {
  float: right;
}
#app .totalFont {
  font-size: 1.5em;
  font-weight: bold;
}
#app .sequencePill {
  border-radius: 5px;
  background-color: #7fc4ff;
  padding: 15px;
  margin: 20px;
  text-align: center;
  color: white;
  font-size: 1.1em;
}
#app .log {
  border-radius: 10px;
  background-color: #d1d1d1;
  padding: 15px;
  color: black;
  overflow-y: auto;
  height: 250px;
}
#app .ipcReset {
  float: right;
}
#app .phaseArrow {
  display: inline-block;
  float: left;
  position: relative;
  top: -5px;
  left: -25px;
}
#app .factionArrow {
  display: inline-block;
  float: left;
  position: relative;
  top: -5px;
  left: -25px;
  width: 25px;
}