@borderColor: rgb(221, 221, 221);
#app {
    .contentBorder {
        border: solid 1px @borderColor;
        border-top: none;
    }

    #attacker {
        background-color: cadetblue;
    }

    #defender {
        background-color: indianred;
    }

    #techs {
        background-color: lightgray;
    }

    .battleButton {
        float: right;
    }

    .totalFont {
        font-size: 1.5em;
        font-weight: bold;
    }

    .sequencePill {
        border-radius: 5px;
        background-color: #7fc4ff;
        padding: 15px;
        margin: 20px;
        text-align: center;
        color: white;
        font-size: 1.1em;
    }
}
