#app .contentBorder {
  border: solid 1px #dddddd;
  border-top: none;
}
#app #attacker {
  background-color: cadetblue;
}
#app #defender {
  background-color: indianred;
}
#app #techs {
  background-color: lightgray;
}
#app .battleButton {
  float: right;
}
#app .totalFont {
  font-size: 1.5em;
  font-weight: bold;
}
#app .sequencePill {
  border-radius: 5px;
  background-color: #7fc4ff;
  padding: 15px;
  margin: 20px;
  text-align: center;
  color: white;
  font-size: 1.1em;
}