<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="LESS/site.min.css" />
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
    <script src="Scripts/random.min.js"></script> <!--https://github.com/ckknight/random-js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
    <script src="Data/TurnPhases.js"></script>
    <title>AA Battle Resolver</title>
</head>
<body>
    <div id="app" class="col-xs-10 col-xs-offset-1">
        <h1>{{ message }}</h1>
        <ul class="nav nav-tabs">
            <li><a href="#home" data-toggle="tab">Home</a></li>
            <li class="active"><a href="#turnOrder" data-toggle="tab">Turn Order</a></li>
            <li><a href="#battleResolver" data-toggle="tab">Battle Resolver</a></li>
            <li><a href="#ggMates" data-toggle="tab">Menu 3</a></li>
        </ul>

        <div class="tab-content contentBorder clearfix">
            <div id="home" class="tab-pane fade">
                <h3>HOME</h3>
                <p>Some content.</p>
            </div>
            <div id="turnOrder" class="tab-pane fade in active">
                <turn-order inline-template>
                    <div>
                        <h3>Turn:{{turnCount}}</h3>
                        <div class="col-xs-6">
                            <div col-xs-12>Turn Sequence</div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div v-for="p in phases">
                                    <img class="phaseArrow" src="Content/arrow.png" v-if="phase == p.id" />
                                    <div class="sequencePill">{{p.name}}</div>
                                </div>
                                <button class="btn btn-success" v-on:click="nextPhase">Next Phase</button>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            Factions
                            <div v-for="country in countries" style="padding-left: 0px;">
                                <img class="factionArrow" src="Content/arrow.png" v-if="faction == country.id" />
                                <span class="col-xs-4">{{country.Name}}</span>
                                <div class="col-xs-4" style="float:right">
                                    <number-stepper :value="country.IPC" :id="country.Name" :update="updateVal"></number-stepper>
                                </div>
                                <br /><br />
                            </div>
                            <button class="btn btn-warning" v-on:click="nextFaction">Next Faction</button>
                            <button class="btn btn-danger ipcReset" v-on:click="reset">RESET</button>
                        </div>
                    </div>
                </turn-order>
            </div>
            <div id="battleResolver" class="tab-pane fade">
                <battle-resolver inline-template>
                    <div>
                        <div class="col-xs-12">
                            <h1>Battle Resolver</h1>
                            <span>{{ testString }}</span>  
                            <button class="btn btn-default battleButton" v-on:click="simulateBattle">Roll Battle</button>
                        </div>
                        <div id="battleGrid">
                            <div id="attacker" class="col-xs-4">
                                <b class="col-xs-6">Attacker</b>
                                <b class="col-xs-4">Quantity</b>
                                <b>Hits</b>
                                <div v-for="unit in units" class="row col-xs-12">
                                    <span class="col-xs-6">{{unit.name}}:</span>
                                    <div class="col-xs-4">
                                        <input class="form-control" type="text" v-model="unit.attackerQty" />
                                    </div>
                                    <span class="col-xs-2">{{unit.attackerHits}}</span>
                                </div>
                                <div class="row col-xs-12 totalFont">
                                    <span class="col-xs-6">Totals:</span>
                                    <div class="col-xs-4">
                                    </div>
                                    <span class="col-xs-2">{{ units | sum('attackerHits')}}</span>
                                </div>
                            </div>
                            <div id="defender" class="col-xs-4">
                                <b class="col-xs-6">Defender</b>
                                <b class="col-xs-4">Quantity</b>
                                <b>Hits</b>
                                <div v-for="unit in units" class="row col-xs-12">
                                    <span class="col-xs-6">{{unit.name}}:</span>
                                    <div class="col-xs-4">
                                        <input class="form-control" type="text" v-model="unit.defenderQty" />
                                    </div>
                                    <span class="col-xs-2">{{unit.defenderHits}}</span>
                                </div>
                                <div class="row col-xs-12 totalFont">
                                    <span class="col-xs-6">Totals:</span>
                                    <div class="col-xs-4">
                                    </div>
                                    <span class="col-xs-2">{{ units | sum('defenderHits')}}</span>
                                </div>
                            </div>
                            <div id="honestyCharty" class="col-xs-4">
                                <canvas id="diceRolls"/>
                            </div>
                            <div id="battleLog" class="col-xs-4">
                                <b>Battle Log</b>
                                <div id="logContent" class="log">
                                    <span v-for="log in logs" class="logText">{{log}}<br /></span>
                                </div>
                            </div>
                            <div id="techs" class="col-xs-12">
                                <b>Techs Active</b><br />
                                <div class="cox-xs-1 col-md-3" v-for="tech in techs">
                                    <label>
                                        <input type="checkbox" v-model="tech.enabled"/>
                                        {{tech.name}}
                                    </label>
                                </div>
                            </div>
                            <div id="options" class="col-xs-12"> 
                                <label>
                                    <input type="checkbox" v-model="useCryptoRand" />
                                    Use Cryptographically secure random
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <button class="btn btn-default battleButton" v-on:click="simulateBattle">Roll Battle</button>
                                <button class="btn btn-danger battleButton" v-on:click="clearGrid">Clear Grid</button>
                            </div>
                        </div>
                    </div>
                </battle-resolver>
            </div>
            <div id="ggMates" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Some content in menu 3.</p>
            </div>
        </div>
    </div>
    <!--Data files-->
    <script src="Data/Units.js"></script>
    <script src="Data/Factions.js" ></script>

    <!--Components-->
    <script src="VueScripts/BattleResolver.js" type="text/javascript"></script>
    <script src="VueScripts/NumberStepper.js" type="text/javascript"></script>
    <script src="VueScripts/TurnOrder.js" type="text/javascript"></script>

    <!--Vue Bootstrapping-->
    <script src="VueScripts/VueStrap.js" type="text/javascript"></script>
</body>
</html>